*               text eol=lf
*.bat           text eol=crlf
*.gitattributes text
*.gitignore     text
*.gradle        text diff=java
*.gradle.kts    text diff=java
*.java          text diff=java
gradlew         text eol=lf
*.md            text
*.md            text

.gitattributes  export-ignore
.gitignore      export-ignore
*.gitattributes linguist-language=gitattributes
